In [1]:
import sqlite3
import pandas as pd

In [2]:
def query_climate_database(db_file, country, year_begin, year_end, month):
    # return: Pandas dataframe of temperature readings for the specified country,
    # in the specified date range, in the specified month of the year

    # dataframe should have the following columns
        # name, latitude, longitude, country, year, month, and temp
    
    with sqlite3.connect(db_file) as conn:
    # conn is automatically closed when this block ends
        cmd = \
        f"""
        SELECT S.NAME, S.LATITUDE, S.LONGITUDE, C.Name "Country", T.Year, T.Month, T.Temp
        FROM temperatures T
        LEFT JOIN stations S ON T.id = S.id
        LEFT JOIN countries C on substring(T.id,1,2) = C.'FIPS 10-4'  
        WHERE C.Name = \"{country}\"
        AND 
        T.Year BETWEEN {year_begin} AND {year_end} 
        AND 
        T.month = {month}
        """
    df = pd.read_sql_query(cmd, conn)
    return df